<div *ngIf="product" class="product-page">
  <div class="container">
    <div class="product-page__info">
      <div class="product-page__image">
        <img
          srcset="
            https://placehold.co/750x440?text=Donut    1x,
            https://placehold.co/750x440@2x?text=Donut 2x
          "
          [alt]="product.title"
          width="750"
          height="440"
        />
      </div>
      <div class="product-page__content">
        <h1 class="product-page__title">{{ product.title }}</h1>
        <p class="product-page__description">{{ product.description }}</p>
        <span class="product-page__price">{{ product.price | currency }}</span>
        <donuts-counter
          class="product-page__counter"
          [product]="product"
        ></donuts-counter>
        <button donutsButton (click)="addToCart(product)" type="button">
          Add to cart
        </button>
      </div>
    </div>

    <donuts-simple-section
      class="product-page__product-list"
      [title]="'Other users also prefer'"
    >
      <a routerLink="/catalog" action>View more</a>
      <donuts-product-list [numberOfProductsToShow]="4"></donuts-product-list>
    </donuts-simple-section>
  </div>
</div>
