body {
  margin: 0;
  color: var(--c-primary);
  font-family: 'Acme', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--c-background);
}

main {
  margin-top: 4.625rem; // compensate header height

  @include for-tablet-portrait-up {
    margin-top: 5.75rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--c-brand);
  text-decoration: none;
  text-underline-offset: 0.25rem;

  &:hover {
    text-decoration: underline;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
}

// remove number input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
// END remove number input arrows
