:root {
  // colors
  --c-primary: #041912;
  --c-primary-inverted: #fff;
  --c-brand: #da734b;
  --c-brand-dark: #b4542e;
  --c-background: #fff;
  --c-background-gray: #eee;

  // border-radiuses
  --br-small: 0.25rem;
  --br-base: 0.5rem;

  // z-indexes
  --zi-header: 10;
}
