.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-brand);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border-color: var(--color-brand);
  }
}
