.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--c-brand);
  border-radius: var(--br-base);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    fill: var(--c-primary-inverted);
    background-color: var(--c-brand);
  }
}
