@import '/src/app/styles/breakpoints';

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: -1rem; // compensates card paddings

  &__item {
    flex-basis: 100%;

    @include for-tablet-portrait-up {
      flex-basis: calc((100% - 0.5rem) / 2);
    }

    @include for-tablet-landscape-up {
      flex-basis: calc((100% - 1rem) / 3);
    }

    @include for-desktop-up {
      flex-basis: calc((100% - 1.5rem) / 4);
    }
  }
}
