@import '/src/app/styles/breakpoints';

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 -1rem;

  &__item {
    flex-basis: 100%;

    @include for-tablet-portrait-up {
      flex-basis: calc((100% - 2rem) / 2);
    }

    @include for-tablet-landscape-up {
      flex-basis: calc((100% - 4rem) / 3);
    }

    @include for-desktop-up {
      flex-basis: calc((100% - 6rem) / 4);
    }
  }
}
