@import '/src/app/styles/breakpoints';

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--c-brand);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  @include for-tablet-portrait-up {
    gap: 1rem;
    font-size: 2rem;
  }

  &--dark {
    color: var(--c-primary);
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    stroke: currentColor;
    stroke-width: 0.125rem;

    @include for-tablet-portrait-up {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}
