.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-brand);
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;

  &--dark {
    color: var(--color-primary);
  }

  &__icon {
    stroke: currentColor;
    stroke-width: 0.125rem;
  }
}
