.cart {
  padding: 4rem 0;

  &__inner {
    display: flex;
    gap: 4rem;
  }

  &__list {
    flex-grow: 1;
    padding: 2rem;
    border: 1px solid var(--c-primary);
  }

  &__title {
    margin: 0;
  }

  &__form {
    flex-grow: 1;
  }

  &__form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}
