<div class="container">
  <div class="header__inner">
    <nav class="header__nav">
      <donuts-logo></donuts-logo>
      <ul class="header__menu">
        <li>
          <a
            class="header__link"
            routerLink="/home"
            routerLinkActive="header__link--active"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="header__link"
            routerLink="/catalog"
            routerLinkActive="header__link--active"
          >
            Catalog
          </a>
        </li>
        <li>
          <a
            class="header__link"
            routerLink="#"
            routerLinkActive="header__link--active"
          >
            FAQ
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__socials">
      <a
        donutsButtonIcon
        icon="instagram"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
      </a>
      <a
        donutsButtonIcon
        icon="facebook"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      ></a>
    </div>
    <div class="header__cart">
      <a donutsButtonIcon icon="cart" routerLink="/cart"> </a>
      <span *ngIf="cartItemsCount > 0" class="header__cart-count">
        {{ cartItemsCount }}
      </span>
    </div>
  </div>
</div>
