@import '/src/app/styles/breakpoints';

.header {
  position: fixed;
  z-index: var(--zi-header);
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--c-background);

  &--shadowed {
    box-shadow: 0 -0.25rem 0.2rem 0.2rem var(--c-primary);
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    @include for-tablet-portrait-up {
      gap: 3rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;
  }

  &__menu {
    display: none;
    gap: 3rem;

    @include for-tablet-landscape-up {
      display: flex;
    }
  }

  &__link {
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: var(--br-small);

    &--active {
      color: var(--c-primary-inverted);
      background-color: var(--c-brand);
      cursor: default;
    }

    &:hover {
      border-color: var(--c-brand);
      text-decoration: none;
    }
  }

  &__socials {
    display: flex;
    gap: 0.25rem;

    @include for-tablet-portrait-up {
      gap: 1rem;
    }
  }

  &__cart {
    position: relative;
  }

  &__cart-count {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    min-width: 0.5rem;
    color: var(--c-primary);
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25;
    text-align: center;
    background-color: var(--c-background);
    border: 1px solid var(--c-primary);
    border-radius: var(--br-small);
  }
}
