.product {
  position: relative;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: var(--br-small);

  &:hover {
    border-color: var(--c-brand);
  }

  &__link-ux {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__counter {
    position: relative;
    display: flex;
  }

  &__counter-btn {
    cursor: pointer;
  }

  &__counter-input {
    width: 100%;
  }

  &__order-btn {
    position: relative;
  }
}
