<article class="product">
  <a class="product__link-ux" [routerLink]="['/product', product.id]"></a>
  <img
    class="product__image"
    srcset="
      https://placehold.co/270x140?text=Donut    1x,
      https://placehold.co/270x140@2x?text=Donut 2x
    "
    alt="{{ product.title }}"
    width="270"
    height="140"
  />
  <div class="product__heading">
    <h3 class="product__title">{{ product.title }}</h3>
    <span class="product__price">{{ product.price | currency }}</span>
  </div>
  <div class="product__footer">
    <div class="product__counter">
      <button
        class="product__counter-btn"
        (click)="decreaseCount()"
        type="button"
      >
        -
      </button>
      <input
        class="product__counter-input"
        type="number"
        [(ngModel)]="count"
        name="counter"
      />
      <button
        class="product__counter-btn"
        (click)="increaseCount()"
        type="button"
      >
        +
      </button>
    </div>
    <button
      donuts-button
      class="product__order-btn"
      (click)="addToCart(product)"
      type="button"
    >
      Agregar
    </button>
  </div>
</article>
