<article *ngIf="product" class="product">
  <a class="product__link-ux" [routerLink]="['/product', product.id]"></a>
  <img
    class="product__image"
    srcset="
      https://placehold.co/270x140?text=Donut    1x,
      https://placehold.co/270x140@2x?text=Donut 2x
    "
    [alt]="product.title"
    width="270"
    height="140"
  />
  <div class="product__heading">
    <h3 class="product__title">{{ product.title }}</h3>
    <span class="product__price">{{ product.price | currency }}</span>
  </div>
  <div class="product__footer">
    <donuts-counter
      class="product__counter"
      [product]="product"
      [isSmall]="true"
    ></donuts-counter>
    <button
      donuts-button
      class="product__order-button"
      [isSmall]="true"
      (click)="addToCart(product)"
      type="button"
    >
      Add to cart
    </button>
  </div>
</article>
