<section class="hero-section">
  <div class="container">
    <h1>Best donuts in Ukraine</h1>
    <a donutsButton routerLink="/catalog">View catalog</a>
  </div>
</section>

<donuts-simple-section [title]="'Favorite donuts'">
  <a routerLink="/catalog" action>View more</a>
  <donuts-product-list
    [numberOfProductsToShow]="NUMBER_OF_PRODUCTS_TO_SHOW"
  ></donuts-product-list>
</donuts-simple-section>

<section>
  <div class="container">
    <img
      srcset="
        https://placehold.co/750x440?text=Donut    1x,
        https://placehold.co/750x440@2x?text=Donut 2x
      "
      width="750"
      height="440"
      alt="Taste donut"
    />
    <h2>Sobre Oh My Donuts!</h2>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem.
    </p>
  </div>
</section>
