<section class="hero-section">
  <div class="container">
    <h1>Las mejores donas en sivar</h1>
    <button type="button">Ver catálogo</button>
  </div>
</section>
<section>
  <div class="container">
    <h2>Las preferidas</h2>
    <a routerLink="#">Ver más...</a>
    <donuts-product-list></donuts-product-list>
  </div>
</section>
<section>
  <div class="container">
    <img
      srcset="
        https://placehold.co/750x440?text=Donut    1x,
        https://placehold.co/750x440@2x?text=Donut 2x
      "
      width="750"
      height="440"
      alt="Taste donut"
    />
    <h2>Sobre Oh My Donuts!</h2>
    <p>
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem.
    </p>
  </div>
</section>
